
/* General */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

}

/* HEADER/NAV */

nav {
    background-color:#f1f3d6;
    padding: 5px;
}

header {
    background-color: #f8faf0;
    margin: 0;
    padding: 0;
    /* border-bottom: 2px solid #044538; */
    
}

.logo a {
    display: inline-block;
    height: 65px;
    background-repeat: no-repeat;
    width: 55px;
    text-indent: -9990px;
    background-image: url("images/Moniqo-LOGO-Green+Transparent+High-Res.png");
    background-size: 55px 65px;
    margin-left: 20px;

}

.logo {
    /* position: relative;
    top: -14px; */
    margin-right: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    
}

li {
    display:inline-block;
    margin-right: 35px;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    color:#044538;

    /* background-color: aqua; */

}

a {
    text-decoration: none;
    color:#044538;

}

a:hover {
    text-decoration: underline;
}

/* BODY */

.Heading {
    font-family: "Playfair Display";
    font-weight: 700;
    font-size: 50px;
    opacity: 75%;
    
}


.Sub-Text {
    
    font-family: "Playfair Display";
    line-height: 1.75;
    font-weight: 400;
    font-size: 20px;
    

}

.Centered-Section .Sub-Text {
    
    text-align: center;
    width: 70%;
    opacity: 75%;

}

.Side-Section .Sub-Text {
    
    text-align: left;
    text-indent: 30px;
    width: 95%;
    font-size: 18px;
    opacity: 90%;

}

.Centered-Section {
    margin: 0;
    padding-bottom: 100px;
    padding-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f8faf0;
    color: #f1f3d6;
    background-image: url("images/darker-nature-landscape.jpg");
    background-size: 100%;
    background-position: center;
    
}


.Side-Section {

    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    padding: 60px;
    
    text-align: left;


}

.Side-Section .Heading {
    font-size: 45px;
    margin-left: 60px;
    margin-top: 80px;
    opacity: 90%;
}



.Left-Section {
    background-color: #f1f3d6;
    color: #044538;

}

.Right-Section {
    
    background-color: #083930;
    color: #d7b056;
}



.Image {

    box-shadow: 0 0 25px rgb(29, 28, 28);
    border-radius: 10px;
    width: 450px;
    height: 350px;
    margin: 40px;

}


/* ABOUT US SECTION */





/* OUR VISION SECTION */









/* uh  */

.fadee {

    animation: fadeIN 5s both;
}

@keyframes fadeIN {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}