/* general */

* {
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
    font-size: 1.5vw;
    font-family: "Playfair Display";

}


body {
    margin: 0;
    padding: auto;
    background-color: #c9c8af;
   
}


main {
    opacity: 0;
    animation: fadeIN 1.5s forwards;
}


@keyframes fadeIN {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


header {
    background-color: #bcb89a;
    margin: 0;
    padding: 0;
    /* border-bottom: 2px solid #044538; */
   
}


.logo a {
    display: inline-block;
    height: 65px;
    background-repeat: no-repeat;
    width: 55px;
    text-indent: -9990px;
    background-image: url("images/moniqo-logo-green-transparent-upscaled.png");
    background-size: 55px 65px;
    margin-left: 20px;

}



.logo {
    /* position: relative;
    top: -14px; */
    margin-right: auto;
}

/* nav */

nav {
    background-color: #d2d1b8;
    padding: 5px;
}


nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 2vw;
    margin-right: 20px;
   
}


nav li {
    display: inline-block;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    color:#044538;

    /* background-color: aqua; */

}


nav a {
    text-decoration: none;
    color:#044538;

}


a:hover {
    color: #069175;
}


/* general text */


.Heading {
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    /* border: black solid 2px; */

}


.Side-Section .Heading {
    text-align: center;
    opacity: 90%;
    font-size: 2.6rem;
   
}


.Sub-Text {
    font-family: "Playfair Display";
    line-height: 1.75;
    font-weight: 400;
   
}


.Heading_and_Sub-Text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: black solid 2px; */

}


.Centered-Section .Sub-Text {
    text-align: center;
    width: 70%;
    opacity: 75%;

}


.Side-Section .Sub-Text {
    text-align: center;
    text-indent: 0px;
    width: 95%;
    opacity: 90%;
    /* border: black solid 2px; */

}

/* general sections, mainly about us*/

.Centered-Section {
    margin: 0;
    padding-bottom: 3.8vw;
    padding-top: 3.8vw;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f8faf0;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
   
}


#About-Us-Section {
    background-image: url("images/cool-forest.jpg");
    color: #f1f3d6;

}

#About-Us-Section .Heading {
    opacity: 60%;

}


#Meet-The-Team-Section {
    background-image: url("https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Zm9yZXN0JTIwd2FsbHBhcGVyfGVufDB8fDB8fHww");
    color: #083930;
    filter: brightness(70%);
    padding: 3rem;
}

#Meet-The-Team-Section .Heading {
    opacity: 65%;
}

#Join-Us-Section {
    background-image: url("images/cool-lake.jpg");
    background-size: cover;
    filter: brightness(65%);
    color: #f1f3d6;
    padding: 3rem;

}

#Join-Us-Section .Heading {
    opacity: 95%;
}


.Side-Section {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 5vw;
    justify-content: center;
    align-items: center;
    padding-bottom: 6vw;
    padding-top: 6vw;

}


.Left-Section {
    background-color: #083930;
    color: #d7b056;

}


.Right-Section {
    background-color: #e0e0c7;
    color: #083930;
    flex-direction: row-reverse;
   
}


.Image {
    box-shadow: 0 0 25px rgb(29, 28, 28);
    border-radius: 50px;
    height: auto;
    object-fit: cover;
    margin: 40px;
}


footer {
    margin: 0px;
    background-color: #d3d3b7;
    color: #044538;
    display: flex;
    flex-direction: column;
    /* border: black solid 2px; */
    align-items: center;
    padding: 20px;
    gap: 10px;
    border-top: black solid 1px;
}


.Footer-Sub-Text {
    font-family: "Playfair Display";
    font-size: 15px;
    text-align: center;
    margin: 0px;

}

/* insta */

.Contact-Link {
    text-indent: -9990px;
    height: 35px;
    width: 35px;
    background-image: url("images/Instagram_Glyph_Gradient.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}


/* MEMBERS SECTION */


#Member-Category-Selection {
    background-color: #0b3d29;
    padding: 40px 30px 40px 30px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 30px;
    width: 60vw;
    margin-left: auto;
    /* margin-right: 30px; */
    margin-right: auto;
    margin-top: 40px;
    /* box-shadow: 0 0 10px black; */

}


/* member category buttons */
.Member-Category-Label {
    display: inline-block;
    font-size: 1rem;
    color: #e0e0c7;
    font-family: "Raleway", sans-serif;
    margin: 0px;
    text-decoration: none;
    text-align: center;
}


.Member-Category-Label:hover {
    color: #d7b056;
    cursor: pointer;
}

/* below the selection nav, only contains the profiles */
.Member-Section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 80px 4vw 80px 4vw;
    justify-content: space-evenly;
    row-gap: 50px;
    gap: 40px;
}

/* img + description */
.Member-Profile {
    display: flex;
    align-items: center;
    flex-direction: column;
/* border: black solid 2px; */
    color: #044538;
    gap: 20px;
    margin-bottom: 40px;
}


.Member-Image {
    box-shadow: 0 0 15px rgb(29, 28, 28);
    background: #6b8d5e;
    background-image: url("images/moniqo-logo-green-transparent-upscaled.png");
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 5px solid #044538;
    width: 22vw;
    height: 22vw;
    margin: 0;
}


.Member-Name {
    font-size: 1.75rem;
    margin: 0;

}


.Member-Role {
    margin-top: auto;
    font-size: 1.4rem;
    text-align: center;
    margin: 0;


}

/* join us */

.form-section {
    padding: 10px 0;
    background-color: #0b3d29;
}

.form-container {
    max-width: 1200px;
    border: 1px solid #0b3d29;
    margin: 0 auto;
    padding: 32px;
}



.form-section h2 {
    color: #bcb89a;
    text-align: center;
    margin: 0;
}

.form-section p {
    color: #d2d1b8;
    text-align: center;
    line-height: 1.75;
    
}

form {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 30px;
    border-radius: 15px;
    color: #0b3d29;
    background-color: #e0e0c7;
    box-shadow: 0 5px 15px rgb(36, 36, 36);

}

.form-field label {
    display: block;
    margin-bottom: 5px;
    font-size: .8rem;
}

.form-field .form-input {
    appearance: none;
    outline: none;
    border: none;
    display: block;
    width: 100%;
    border-radius: 10px;
    padding: 12px 15px;
    background-color: #d2d2bc;
    transition: .6s;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.form-field .form-input:focus {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, .3);
    background-color: #e0e0ca;
}

.form-field textarea {
    min-height: 100px;
    grid-column: 1 / -1;
    resize: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

.full {
    grid-column: 1 / -1;
}

.submit-button input {
    appearance: none;
    outline: none;
    border: none;
    padding: 12px 15px;
    border-radius: 10px;
    background-color: #a9a992;
    color: #65655a;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: .7rem;
    cursor: pointer;
    transition: .6s;
}

.submit-button input:hover {
    background-color: #0b3d29;
    color: #d7b056;
}

@media (min-width: 750px) {

    .form-section .form-container {
        padding: 0 64px;
    }

    .form-section {
        padding: 50px 0;
    }

    form {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {

    .form-section .form-container {
        padding: 0 128px;
    }

    .form-section {
        padding: 80px 0;
    }
}

/* Cattempt to make responsive */


@media (max-width: 1200px) {
    .Side-Section {
        flex-direction: column;
    }


    .Image {
        align-self: center;
    }
   
}


@media (max-width: 576px) {
    li {
        margin-right: 13px;
        font-size: 16px;  
    }


    .Image {
        width: 80vw;
    }


    .Footer-Image {
        margin-left: 45%;
    }


    html {
        font-size: 4.3vw;
    }


    nav li {
        font-size: 14px;
    }

   
    nav ul {
        gap: 3vw;
    }


    .Member-Image {
        width: 55vw;
        height: 55vw;
    }


    #Member-Category-Selection {
        width: 95vw;
    }


    .Member-Category-Label {
        font-size: .8rem;
    }
}


@media (576px < width <= 768px) {
    /* li {
        margin-right: 13px;
        font-size: 16px;  
    } */


    .Image {
        width: 75vw;
    }


    .Footer-Image {
        margin-left: 45%;
    }


    html {
        font-size: 3.5vw;
    }


    .Member-Image {
        width: 35vw;
        height: 35vw;
    }


    #Member-Category-Selection {
        width: 90vw;
    }


    .Member-Category-Label {
        font-size: .85rem;
    }
}


@media (768px < width <= 1200px) {
    li {
        margin-right: 13px;
        font-size: 16px;  
    }

    .Image {
        width: 65vw;
    }


    .Footer-Image {
        margin-left: 45%;
    }


    html {
        font-size: 2.5vw;
    }


    .Member-Image {
        width: 32vw;
        height: 32vw;
    }


    #Member-Category-Selection {
        width: 80vw;
    }
}



@media (1200px < width <= 1500px) {
    li {
        margin-right: 13px;
        font-size: 16px;  
    }


    .Image {
        width: 38vw;
        height: 25vw
    }


    .Footer-Image {
        margin-left: 45%;
    }


    html {
        font-size: 1.7vw;
    }


    .Member-Image {
        width: 22vw;
        height: 22vw;
    }


    #Member-Category-Selection {
        width: 70vw;
    }
}

@media (min-width: 1500px) {
    li {
        margin-right: 13px;
        font-size: 16px;  
    }

    .Image {
        width: 38vw;
        height:25vw
    }

}


