
/* General */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: auto;
    padding: auto;

    
}

main {
    opacity: 0;
    animation: fadeIN 1.5s forwards;
}

@keyframes fadeIN {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} 
/* HEADER/NAV */

nav {
    background-color:#e4e5cd;
    padding: 5px;
}

header {
    background-color: #f8faf0;
    margin: 0;
    padding: 0;
    /* border-bottom: 2px solid #044538; */
    
}

.logo a {
    display: inline-block;
    height: 65px;
    background-repeat: no-repeat;
    width: 55px;
    text-indent: -9990px;
    background-image: url("images/moniqo-logo-green-transparent-upscaled.png");
    background-size: 55px 65px;
    margin-left: 20px;

}

.logo {
    /* position: relative;
    top: -14px; */
    margin-right: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    
}

li {
    display: inline-block;
    margin-right: 35px;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    color:#044538;

    /* background-color: aqua; */

}

a {
    text-decoration: none;
    color:#044538;

}

a:hover {
    color: #069175;
}

/* BODY */

.Heading {
    font-family: "Playfair Display";
    font-weight: 700;
    font-size: 50px;
    opacity: 75%;
    
}


.Sub-Text {
    
    font-family: "Playfair Display";
    line-height: 1.75;
    font-weight: 400;
    font-size: 30px;
    

}

.Centered-Section .Sub-Text {
    
    text-align: center;
    width: 70%;
    opacity: 75%;

}

.Side-Section .Sub-Text {
    
    text-align: center;
    text-indent: 0px;
    width: 95%;
    font-size: 30px;
    opacity: 90%;

}

.Centered-Section {
    margin: 0;
    padding-bottom: 100px;
    padding-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f8faf0;
    color: #f1f3d6;
    background-image: url("images/cool-forest.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    
}


.Side-Section {

    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    padding: 60px;
    
    text-align: left;


}

.Side-Section .Heading {
    text-align: center;
    font-size: 45px;
    margin-top: 80px;
    opacity: 90%;
}



.Left-Section {
    background-color: #083930;
    color: #d7b056;

}

.Right-Section {
    background-color: #d3d4bf;
    color: #044538;
    
}

.Footer-Section {
    margin-top: 0px;
    background-color: #d3d4bf;
    color: #044538;
    padding: 1px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.Image {

    box-shadow: 0 0 25px rgb(29, 28, 28);
    border-radius: 50px;
    width: 500px;
    height: auto;
    object-fit: cover;
    margin: 40px;
    
}

.Footer-Section .Footer-Sub-Text {
    font-family: "Playfair Display";
    font-size: 15px;
    text-align: center;
}

.Footer-Image {
    text-indent: -9990px;
    height: 30px;
    width: 45px;
    background-image: url("https://1000logos.net/wp-content/uploads/2017/02/Instagram-Logo.png");
    background-repeat: no-repeat;
    background-size: 50px;
    margin-left: 48.5%;
}

/* ABOUT US SECTION */


/* MEMBERS SECTION */

body {
    background-color: #d3d4bf;
}

#Meet-The-Team {
    margin: auto;
    padding: 100px;
    background-image: url("https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Zm9yZXN0JTIwd2FsbHBhcGVyfGVufDB8fDB8fHww");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    filter: brightness(90%);
    text-align: center;
    color: #083930;
}

.Category-Section {
    margin: auto;
    padding: 10px;
}

.Category-List {
    margin: auto;
    margin-left: 50%;
    padding: 50px;
    background-color: #d7b056;
}

.Category-Text a {
    font-size: 30px;
    color: #f8faf0;
}

.Member-Section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 2px solid black;
    row-gap: 100px;
    padding-bottom: 130px;
    padding-left: 150px;
    padding-right: 150px;
}

.Member-Profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px rgb(29, 28, 28);
    background: #069175;
    background-image: url("images/moniqo-logo-green-transparent-upscaled.png");
    background-size: contain;
    background-position: 10px;
    background-repeat: no-repeat;
    border-radius: 500px;
    border: 5px solid #044538;
    color: #044538;
    margin: 70px;
    padding-top: 210px;
    height: 250px;
    width: 250px;
}

#Member-Name {
    margin-top: 70px;
    font-size: 35px;
    text-align: center;
    line-height: 0.5;
}

#Member-Role {
    margin-top: auto;
    font-size: 30px;
    text-align: center;
}


/* Centers the entire body thang */

@media (max-width: 1200px) {
    .Side-Section {
        flex-direction: column;
    }

    .Image {
        align-self: center;
    }

    .Footer-Image {
        margin-left: 48%;
    }
}

@media (max-width: 500px) {
    li {
        margin-right: 13px;
        font-size: 16px;  
    }

    .Image {
        width: 300px;
    }

    .Footer-Image {
        margin-left: 45%;
    }
}

@media (max-width: 400px) {
    li {
        margin-right: 11px;
        font-size: 15px;
    }

    .Footer-Image {
        margin-left: 43%;
    }
}