
/* General */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: auto;
    padding: auto;

    
}

main {
    opacity: 0;
    animation: fadeIN 2s forwards;
}

@keyframes fadeIN {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} 
/* HEADER/NAV */

nav {
    background-color:#e4e5cd;
    padding: 5px;
}

header {
    background-color: #f8faf0;
    margin: 0;
    padding: 0;
    /* border-bottom: 2px solid #044538; */
    
}

.logo a {
    display: inline-block;
    height: 65px;
    background-repeat: no-repeat;
    width: 55px;
    text-indent: -9990px;
    background-image: url("images/moniqo-logo-green-transparent-upscaled.png");
    background-size: 55px 65px;
    margin-left: 20px;

}

.logo {
    /* position: relative;
    top: -14px; */
    margin-right: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    
}

li {
    display:inline-block;
    margin-right: 35px;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    color:#044538;

    /* background-color: aqua; */

}

a {
    text-decoration: none;
    color:#044538;

}

a:hover {
    color: #069175;
}

/* BODY */

.Heading {
    font-family: "Playfair Display";
    font-weight: 700;
    font-size: 50px;
    opacity: 75%;
    
}


.Sub-Text {
    
    font-family: "Playfair Display";
    line-height: 1.75;
    font-weight: 400;
    font-size: 30px;
    

}

.Centered-Section .Sub-Text {
    
    text-align: center;
    width: 70%;
    opacity: 75%;

}

.Side-Section .Sub-Text {
    
    text-align: center;
    text-indent: 0px;
    width: 95%;
    font-size: 30px;
    opacity: 90%;

}

.Centered-Section {
    margin: 0;
    padding-bottom: 100px;
    padding-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f8faf0;
    color: #f1f3d6;
    background-image: url("images/cool-forest.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;

    animation-timing-function: ease-in;
    
}


.Side-Section {

    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    padding: 60px;
    
    text-align: left;


}

.Side-Section .Heading {
    text-align: center;
    font-size: 45px;
    margin-top: 80px;
    opacity: 90%;
}



.Left-Section {
    background-color: #083930;
    color: #d7b056;

}

.Right-Section {
    background-color: #d3d4bf;
    color: #044538;
    
}

.Footer-Section {
    margin-top: 0px;
    background-color: #d3d4bf;
    color: #044538;
    padding: 1px;
}


.Image {

    box-shadow: 0 0 25px rgb(29, 28, 28);
    border-radius: 50px;
    width: 500px;
    height: auto;
    object-fit: cover;
    margin: 40px;
    
}

.Footer-Section .Footer-Sub-Text {
    font-family: "Playfair Display";
    font-size: 15px;
    text-align: center;
}

.Footer-Image {
    width: 60px;
    object-fit: cover;
    position: relative;
    left: 920px;
    background-size: 5px 60px;
}
/* ABOUT US SECTION */





/* OUR VISION SECTION */









/* uh  */

@media (max-width: 1200px) {
    .Side-Section {
        flex-direction: column;
    }

    .Image {
        align-self: center;
    }
}

@media (max-width: 500px) {
    li {
        margin-right: 13px;
        font-size: 16px;  
    }

    .Image {
        width: 300px;
    }
}

@media (max-width: 400px) {
    li {
        margin-right: 11px;
        font-size: 15px;
    }
}