.body{
height: 100vw;
height: 100vh;
margin: 0;
}

.Header{
position: Sticky;
top: 0;
font-size: 110%;
width: 100%;
margin: 0px;
background: #ffffff;
z-index: 10;
}

.HeaderImgHold{
display: flex;
width: 100%;
height: auto;
justify-content: center;
align-items: center;
}

.HeaderImg{
width: 5%;
height: auto;
object-fit: scale-down;
}

.HorzBar{
background: #d68a40;
width: 90%;
margin-inline: auto;
margin-top:10px;
height: 0.25vh;
}

.LinkList{
align-items: center;
margin-top: 2vh;
}

.LinkList:hover{
cursor: default;
}

.Link{
margin: 20px;
color: #d68a40;
}

.Link:hover{
margin: 20px;
color: #de9f62;
cursor: pointer;
}

.CurrLink{
margin: 10px;
color: #de9f62;
}

.CurrLink:hover{
cursor: pointer;
}

.Title{
display: flex;
justify-content: center;
align-items: center;
margine-bottom: 2vh;
}

.Title{
color: #d68a40;
}

.SlideShow {
width: 100vw;
height: 70vh;
display: flex;
overflow-inline: clip;
anchor-name: --slideShow;
background: #F54927;
}

.SlideShow::-webkit-scrollbar {
display: none;
}

.slideImages{
display: flex;
align-items: center;
justify-content: center;
}

.SImg{
width: 80vw;
height:100%;
font-size: 100%;
background: cornflowerblue;
text-align:center;
border-style: solid;
text-align:center;
align-content: center;
translate: -187.5%;
}


.LeftSilde{
position: fixed;
position-anchor: --slideShow;
position-area: left center;
height: 100%;
width: 25vh;
opacity: 0.1;
z-index: 2;
}

.RightSilde{
position: fixed;
position-anchor: --slideShow;
position-area: right center;
height: 100%;
width: 25vh;
opacity: 0.1;
z-index: 2;
}


